@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index';

.nob{

  margin: auto;
  text-align: center;
  width: 20rem;
  font-family: 'Fondamento', cursive;

}

.tit{

  margin: auto;
  text-align: center;
  font-family: 'Fondamento', cursive;

}

.DnDPic{
  text-align: center;
}

.signUpButton{
  padding: 10px 25px;
  margin: 10px;
}

#signUpPC{
  background-color: #464646;
}

#signUpDM{
   background-color: red;
 }