@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index';

.nob{

  margin: auto;
  text-align: center;
  width: 20rem;
  font-family: 'Fondamento', cursive;

}

.tit{

  margin: auto;
  text-align: center;
  font-family: 'Fondamento', cursive;

}

.DnDPic{
  text-align: center;
}

body{
  background-image: radial-gradient(white, black) alt="Gradient Background";
  background-repeat: no-repeat;
  margin: 0;
  background-attachment: fixed;
}